* {
    font-family : Roboto Slab;
    margin: 0;
    padding: 0;
  }

.header{
    width: 100vw;
    max-height: 29vh;
    font-size: 15vw;
    color: blue;
    padding: 0 2vw;
}

.header__link{
    text-decoration: none;
}